{% extends 'base.html' %}
{% load zinnia_tags i18n %}
{% load url from future %}

{% block sidebar %}
<div id="widget-search" class="widget">
  <h3>{% trans "Search" %}</h3>
  {% include "zinnia/tags/search_form.html" %}
</div>
<div id="widget-categories" class="widget">
  <h3>{% trans "Categories" %}</h3>
  {% get_categories %}
</div>
<div id="widget-tags" class="widget">
  <h3>{% trans "Tags" %}</h3>
  {% get_tag_cloud %}
</div>
<div id="widget-twitter">
    <h3>Social Activity</h3>
    <a class="twitter-timeline"  href="https://twitter.com/Chuck211991" data-widget-id="280364406943125504">Tweets by @Chuck211991</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div id="widget-recents" class="widget">
  <h3>{% trans "Recent entries" %}</h3>
  {% get_recent_entries %}
</div>
<div id="widget-archives" class="widget">
  <h3>{% trans "Archives" %}</h3>
  {% get_archives_entries_tree %}
</div>
{% if user.is_authenticated %}
<div id="widget-tools" class="widget">
  <h3>{% trans "Tools" %}</h3>
  <ul>
    {% if perms.zinnia %}
    <li>
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
        {% trans "Dashboard" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li>
      <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
        {% trans "Post an entry" %}
      </a>
    </li>
    {% endif %}
    {% block admin_tools %}
    {% endblock %}
    <li>
      <a href="{% url 'admin:logout' %}" title="{% trans "Log out" %}">
        {% trans "Log out" %}
      </a>
    </li>
  </ul>
</div>
{% endif %}
{% endblock %}

