{% load cms_tags sekizai_tags %}
{% load cache menu_tags %}
{% load compress %}
{% load url from future %}
{% addtoblock 'js' %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% if debug %}
    <script src="{{ STATIC_URL }}js/less.js"></script>
    {% else %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32221133-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    {% endif %}
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
{% endaddtoblock %}
<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}Logrit.com{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
      {% block extrahead %}{% endblock %}
      {% block head %}{% endblock %}
  </head>
  <body>
    {% block slideshow %}{% endblock %}
    {% cms_toolbar %}
    <!-- NAVBAR 
    =============================================== -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Logrit.com</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% show_menu 0 0 100 100 %}
            <li><a href="{% url 'jarvis' %}">Jarvis</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
    {% block content %}{% endblock %}
    </div>
    {% render_block "js" %}
    {% block extrajs %}{% endblock %}
  </body>
</html>
{% addtoblock 'css' %}
    <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}site.less" />
{% endaddtoblock %}

