{% extends "base.html" %}
{% load zinnia_tags %}

{% block home %}id="active"{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/home.css" />
    <style>
        div#content-inner {
            width: 98%;
        }
    </style>
{% endblock %}

{% block custom_js %}
    <script type="text/html" id="commit">
        <b><a href="https://github.com/{% templatetag openvariable %}repo{% templatetag closevariable %}">{% templatetag openvariable %}repo{% templatetag closevariable %}</a></b>
        <p>{% templatetag openvariable %}message{% templatetag closevariable %}</p>
    </script>
    <script data-main="{{ STATIC_URL }}js/git_watcher" src="{{ STATIC_URL }}js/require-jquery.js"></script>
{% endblock %}

{% block content %}
    <div class="columns" id="blog-posts">
        <h1>Recent blog posts</h1>
        {% get_recent_entries 10 %}
    </div>
    <div class="columns" id="recent-commits">
        {% get_tag_cloud %}
        <h1>Recent Commits</h1>
    </div>
    <div class="columns" id="recent-social">
        <h1>Recent social activity</h1>
        <a class="twitter-timeline"  href="https://twitter.com/Chuck211991" data-widget-id="280364406943125504">Tweets by @Chuck211991</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
{% endblock %}
